@import "../../MainStyles/veribles";
.button {
  padding: 0 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
  text-transform: uppercase;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.button:disabled {
  cursor: not-allowed;
}
// button style
.btnPrimary {
  color: black;
  background-color: #fff;
  &:disabled {
    color: gray;
  }
}
.btnTransparent {
  color: black;
  background-color: rgba(128, 128, 128, 0.142);
  &:disabled {
    color: gray;
  }
}
.btnOutline {
  border: 1px solid white;
  color: black;
  background-color: transparent;
  &:disabled {
    color: gray;
  }
}

//button color
.btnPrimaryColor {
  background-color: #1565c0;
  color: aliceblue;
  &:disabled {
    color: gray;
  }
}
.btnDanger {
  background-color: #efdb00;
  color: black;
  &:disabled {
    color: gray;
  }
}

.btnOutline.btnRed {
  border: 1px solid $red;
  color: $red;
  &:hover {
    background-color: $red;
    color: #fff;
  }
  &:disabled {
    color: gray;
  }
}
.btnPrimary.btnRed {
  color: #fff;
  background-color: rgb(243, 61, 61);
  &:hover {
    background-color: rgba(243, 61, 61, 0.692);
  }
  &:disabled {
    color: gray;
  }
}
// button size
.btnLarge {
  min-width: 13rem;
  width: 13rem;
  height: 3rem;
}

.btnMiddle {
  min-width: 11.5rem;
  width: 11.5rem;
  height: 2.5rem;
}

.btnSmall {
  min-width: 7rem;
  width: 7rem;
  height: 2.5rem;
}
